<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<%= @task.description%>
<p>done: <%= @task.done%></p>
<%= link_to "Home", tasks_path%>
<br>
<%= link_to "Update done", edit_task_path(@task)%>
